<div class="bar bar-header bar-header bar-assertive">
  <button class="button button-icon icon ion-ios7-arrow-back" onclick="location.href='#/tab/leagues'"></button>
  <div class="h1 title">{{league.name}}</div>
</div>

    <div class="bar bar-subheader">
	  <div class="row" >
	  	 <div class="col col-10" align="center">#</div>
	  	 <div class="col col-50" align="center">Team</div>
	  	 <div class="col col-10" align="center">Pld</div>
		 <div class="col col-10" align="center">GD</div>
	  	 <div class="col col-10" align="center">Pts</div>
	  </div>
   </div> 
 <ion-view>  
   <ion-content padding="true">
   <ion-list> 
    <ion-item ng-repeat="team in league.teams" type="item-text-wrap" href="#/tab/league/{team.leagueCode}/{team.pos}"  >
   	  <div class="row" height="20">
	  	 <div class="col col-10" align="center">{{team.pos}}</div>
	  	 <div class="col col-50" align="center">{{team.name}}</div>
	  	 <div class="col col-10" align="center">{{team.pld}}</div>
		 <div class="col col-10" align="center">{{team.gd}}</div>
	  	 <div class="col col-10"  font-weight="bold" align="center">{{team.pts}}</div>
	  </div>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>