<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Yaffle 2014/15</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/initialize.js"></script>
<script src="/js/addPlayerController.js"></script>
</head>

<body onLoad="onSiteLoad()">
	<div ng-app="org.oatesonline.yaffle.v2.yaffleweb">
	  <p>Name:<input type="text" ng-model="name"></p>
	  <p ng-bind="name"></p>
	  <p>Email: <input type="text" ng-model="email"></p>
	  <p ng-bind="email"></p>
	  <p>Pin: <input type="password" ng-model="pin"></p>
	  <p ng-bind="pin"></p>
	  <p>nickname: <input type="text" ng-model="nickname"></p>
	  <p ng-bind="nickname"></p>
	</div>

</body>
</html>
